
.container {
  width: 100%;
  margin: 0;
  display: none;
    flex-direction: column;
}

.profileAndName{
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
    height: 57px;
    position: fixed;
    top: 1px;
    background: #000;
    z-index: 1;

}


.profile {
    display: inline-block;
    background-color: rgb(189, 55, 7);
    color: black;
    border-radius: 40px;
    width: 45px;
    height: 45px;
    font-size: 33px;
    font-weight: 700;
    margin: 0px 15px;
}

.userName {
    display: inline-block;
    font-size: 25px;
    font-weight: 600;

}

.setting {
    border-radius: 40px;
    width: 43px;
    height: 43px;
    background-color: rgb(85, 84, 84);
    position: fixed;
    right: 15px;

}

.mysettingimage {
    animation: rotate360 5s linear infinite;
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

.search {
    width: 95%;
    height: 42px;
    background-color: white;
    color: rgba(19, 17, 17, 0.836);
    position: fixed;
    top: 60px;
    border-radius: 5px;
    font-size: 20px;
    padding: 1px 15px;
    z-index: 1;
}












.cont-main {
    
    position: relative;
    top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border-bottom: 1px white solid; */
}

 .songcard {

    width: 95vmin;
    height: 25.875vmin;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.song {
     /* border: rgb(115, 255, 0) solid 1px;  */
    box-shadow: rgba(255, 255, 255, 0.582) 2px 2px 9px;
    border-radius: 8px;
    width: 46vmin;
    height: 25.875vmin;
    font-size: 28px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.song:active {
    transform: rotateY(180deg) rotateX(360deg);
    transition: 1s;
}

#song1 {
    background: url("media/jo-tu-na-mila-thumbnail.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}

#song2 {
    background: url("media/tum-hi-ho-thumbnail.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#song3 {
    background: url("media/teri-ore-thumbnail.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#song4 {
    background: url("media/panna-ki-tamanna-thumb.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#song5 {
    background: url("media/himanshu1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
 





.divExtraBali{
    width: 100%;
    height:160px;
    background-color: transparent;
    position: relative;
    top: 120px;
}
.divExtraBali2{
    width: 100%;
    height:160px;
    background-color: transparent;
    position: relative;
    top: 25vw;
    display: none;
}


@media screen and (orientation: landscape) {

    .container {
width: 60%;
border: blue solid;
border-width: 1px 1px 0px 1px;

}
.profileAndName{
    width: 60%;
    border: blue solid 1px;
}
.search {
    width: 60%;
    border: blue solid 1px;
}

.cont-main {
    width: 100%;
    border: blue solid;
    border-width: 0px 1px 0px 1px;
}

.setting {
    right: 41%;
}

.divExtraBali{
    border: blue solid;
    border-width: 0px 1px 1px 1px;

}
.divExtraBali2{
    display: none;
}
}